#partner {
  flex-wrap: wrap;
}
#partner img {
  width: 120px;
  height: 120px;
  padding: 16px 30px;
}
#partner-section {
  height: 340px;
  margin-bottom: 100px;
}
.first {
  margin-top: 130px;
}
#services {
  flex-direction: column;
}
#services .box {
  margin: 20px 80px;
}
#home {
  height: 310px;
  padding: 0px 40px;
}
