/* css reset */
* {
  margin: 0;
  padding: 0;
}
/* Html */
html {
  scroll-behavior: smooth;
}
/* NAVBAR */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

/* Navbar logo and image  */
#logo {
  margin: 20px 30px;
}
#logo img {
  margin: -50px -10px;
  width: 131px;
  height: 124px;
}

/* navbar list styling */
#navbar ul {
  display: flex;
  font-family: "Roboto", sans-serif;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  display: block;
  padding: 0px 12px;
  text-decoration: none;
  border-radius: 20px;
  color: white;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/* Home Style */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}
#home::before {
  content: "";
  background: url(b1.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60%;
  opacity: 0.8;
  z-index: -1;
}
.h-primary {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  color: rgb(255, 38, 0);
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
#home p {
  font-family: "Bree Serif", serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgb(38, 0, 255);
  line-height: 30px;
  padding: 0px 100px;
}
.btn {
  background-color: #222;
  color: white;
  margin-top: 30px;
  border-radius: 25px;
  font-size: 23px;
  padding: 8px 10px;
  border: 2px solid rgb(206, 65, 65);
  align-items: center;
}
.btn:hover {
  background-color: #f9f9f9;
  color: black;
  border: 2px solid black;
  font-weight: 600;
  cursor: pointer;
}

/* box style */
#services {
  display: flex;
  align-items: center;
  justify-content: center;
}
#services .box {
  border: 2px solid brown;
  padding: 0px 20px 20px 20px;
  margin: 20px 10px;
  border-radius: 20px;
  background-color: rgb(236, 232, 232);
}
#services .box img {
  width: 230px;
  height: 220px;
  display: block;
  margin: auto;
}
#services .box p {
  font-family: "Bree Serif", serif;
  text-align: center;
}
.first {
  margin-top: 100px;
  margin-bottom: 0px;
}
.h-secondary {
  font-family: "Bree Serif", serif;
  padding: 12px;
  font-size: 1.6rem;
}
.center {
  text-align: center;
}
/* partner section */

#partner-section {
  height: 350px;
  margin-bottom: 100px;
}
#partner-section::before {
  content: "";
  background: url(banner2.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 65%;
  opacity: 0.5;
  z-index: -1;
}
#partner {
  display: flex;
  align-items: center;
  justify-content: center;
}
#partner img {
  width: 250px;
  height: 250px;
  padding: 0px 9px;
}
#partner-section .h-primary {
  margin-bottom: 35px;
}

/* contact section */

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 88%;
  background: url(Contact.jpg) no-repeat center center/cover;
  z-index: -1;
}
#contact h1 {
  color: rgb(63, 0, 255);
}
#contact #contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact #contact-box input,
#contact #contact-box textarea {
  width: 100%;
  height: 26px;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
  border: 2px solid #222;
  border-radius: 5px;
  padding: 5px 10px;
}
#contact #contact-box textarea {
  height: 50px;
}
#contact form {
  width: 400px;
}
#contact .form-group {
  margin: 10px 0px;
}
#contact label {
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  color: rgb(74, 11, 99);
  font-weight: 600;
  font-family: "Bree Serif", serif;
}
.btn2 {
  margin-top: 13px;
  margin-left: 110px;
  padding: 10px 70px;
  font-size: 25px;
  margin-bottom: 15px;
}

/* Footer Section */
footer {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}

/* Scroll bar  */
::-webkit-scrollbar{
  background: #ddd;
  width: 14px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 10px #00000070;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(125deg,#3498db,#34495e);
  border-radius: 10px;
}
/* scroll bar  */
